@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E3F2FD;
}

.container {
    width: 820px;
    background: #fff;
    border-radius: 10px;
    padding: 30px 35px 35px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
}

.container.disable :where(.editor-panel, .reset-filter, .save-img) {
    opacity: 0.6;
    pointer-events: none;
}

.container h2 {
    font-size: 22px;
    font-weight: 500;
}

.container .wrapper {
    display: flex;
    margin: 20px 0;
    min-height: 335px;
}

.wrapper .editor-panel {
    width: 280px;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.editor-panel .title {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
}

.editor-panel .options,
.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.editor-panel button {
    height: 40px;
    font-size: 14px;
    color: #6C757D;
    margin-bottom: 8px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #aaa;
}

.editor-panel button:hover {
    background: #f5f5f5;
}


.editor-panel .filter button {
    width: calc(100% / 2 - 4px);
}

.filter button.active {
    color: #fff;
    background: #312747;
    border-color: #312747;
}

.filter .slider {
    margin-top: 12px;
}

.filter .slider .filter-info {
    display: flex;
    color: #464646;
    font-size: 14px;
    justify-content: space-between;
}

.filter .slider input {
    width: 100%;
    height: 5px;
    accent-color: #312747;
}

.editor-panel .rotate {
    margin-top: 17px;
}

.editor-panel .rotate button {
    width: calc(100% / 4 - 3px);
}

.rotate button:nth-child(3),
.rotate button:nth-child(4) {
    font-size: 18px;
}

.wrapper .preview-img {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.preview-img img {
    max-width: 490px;
    max-height: 335px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.controls button {
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background: #fff;
    padding: 11px 20px;
    border-radius: 3px;
    text-transform: uppercase;
}

.controls .reset-filter {
    color: #6C757D;
    border: 1px solid #6C757D;
}

.controls .choose-img {
    background: #6C757D;
    border: 1px solid #6C757D;
}

.controls .save-img {
    margin-left: 5px;
    background: #312747;
    border: 1px solid #312747;
}

@media screen and (max-width: 760px) {
    .container {
        padding: 25px;
    }

    .container .wrapper {
        flex-wrap: wrap-reverse;
    }

    .wrapper .editor-panel {
        width: 100%;
    }

    .wrapper .preview-img {
        width: 100%;
        margin: 0 0 15px;
    }
}

@media screen and (max-width: 500px) {
    .controls button {
        width: 100%;
        margin-bottom: 10px;
    }

    .controls .row {
        width: 100%;
    }

    .controls .row .save-img {
        margin-left: 0;
    }


}