:root {
  --background-dark: black;
  --background-light: white;
  --text-color-dark: azure;
  --text-color-light: #333;
  --label-background-dark: azure;
  --label-background-light: #007BFF;
  --label-text-color-dark: transparent;
  --label-text-color-light: white;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
  background-color: var(--background-dark);
  display: -webkit-flex;
  font-family: "Avenir", "helvetica neue", helvetica, arial, sans-serif;
}

.age-label {
  background-color: var(--text-color-dark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
  line-height: 1;
}

.count {
  background-color: var(--text-color-dark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-size: 6rem;
  line-height: 1;
  font-weight: 600;
}

.count sup {
  font-size: 2.4rem;
  margin-left: 7px;
}

label {
  display: block;
}
